body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}

#board {
    gap: 0;
}

/* ブロックレイアウト */
.cell {
    width: 40px;
    height: 40px;
    background-color: rgb(6, 6, 37);
    border: 1px solid #231c86;
    box-sizing: border-box;
}

/* 値がある場合 */
.filled {
    background-color: rgb(161, 151, 46);
}

/* 落下ブロック */
.current {
    background: rgb(100, 97, 70);
}